<div class="internal-content">
  <div class="family-header">
    <div class="field-wrapper">
        <input type="text" maxlength="100" autocomplete="off" class="kan-ime" id="type-text">
        <div class="field-placeholder"><span>Type Text</span></div>
    </div>
    <div id="slider-align">
        <div class="slidecontainer">
            <input type="range" min="8" max="100" value="50" name="range" class="slider" id="myRange">
            <output onforminput="value = range.valueAsNumber;"></output>
        </div>
    </div>
  </div>
  
  <div class="font-list">
      <% for(let font of data.fonts){ %> 
        <div class="font-item">
            <div class="font-item-content">
                <div class="font-info">
                    <div class="font-name">
                        <span><%= font.font %></span>
                    </div>
                    <div class="font-sample" style="font-family: '<%= font.font %>'">
                        <p>ಪಠ್ಯವನ್ನು ಟೈಪ್ ಮಾಡಿ ಮತ್ತು ನೋಡಿ</p>
                    </div>
                </div>
                <div class="font-action">
                    <a href="/font/<%= data.link %>/<%= font.link %>" class="btn-view">
                        View Details
                    </a>
                </div>
            </div>
        </div>
      <% } %> 
  </div>
</div>