<div class="container" style="margin: 32px;">
    <div class="container row">
        <div class="col-sm-6">
            <div class="field-wrapper">
                <input type="text" maxlength="100" autocomplete="off" class="kan-ime" id="type-text">
                <div class="field-placeholder"><span>Type Text</span></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="slider-align">
                <div class="slidecontainer">
                    <input type="range" min="8" max="100" value="50" name="range" class="slider" id="myRange">
                    <output onforminput="value = range.valueAsNumber;"></output>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
      <% for(let font of data.fonts){ %> 
        <div class="font-cnt">
            <div class="extra-btn">
                <a href="/font/<%= data.link %>/<%= font.link %>" target="_blank">
                    <span class="glyphicon glyphicon-link"></span>
                </a>
            </div>
            <div class="font-name">
                <span><%= font.font %> </span>
            </div>
            <div class="font-para" style="font-family: '<%= font.font %>'">
                <p>ಪಠ್ಯವನ್ನು ಟೈಪ್ ಮಾಡಿ</p>
            </div>
        </div>
      <% } %> 
  </div>
</div>  