<div class="container" id="sticky-toolbar">
    <div class="toolbar">
        <div class="toolbar-search-box">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search here..." class="search">
            <i class="fa fa-times fa-lg"></i>
        </div>
        <div class="toolbar-type-box">
            <div class="dropdown">
                <button class="dropbtn"><span class="dropbtn-span">Sentence</span> <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                <a>Custom</a>
                <a>Sentence</a>
                <a>Alphabet</a>
                <a>Paragraph</a>
                <a>Numerals</a>
                </div>
            </div>
            <input type="text" class="type" id='type' placeholder="Type something...">
        </div>
        <div class="toolbar-slider-box">
            <div class="dropdown">
                <button class="dropbtn"><span class='dropbtn-span'>40px</span> <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a>8</a>
                    <a>12</a>
                    <a>14</a>
                    <a>20</a>
                    <a>24</a>
                    <a>32</a>
                    <a>40</a>
                    <a>64</a>
                    <a>96</a>
                    <a>120</a>
                    <a>184</a>
                    <a>280</a>
                </div>
            </div>
            <input type="range" min="8" max="300" name="range" class="font-increaser">
        </div>
        <div class="toolbar-refresh-box">
            <!-- <i class="fa fa-refresh fa-lg"></i> -->
            <i class="fas fa-sync-alt fa-lg"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="additional-toolbar">
        <div id="category-dropdown" class="dropdown">
            <button class="dropbtn"><span class="dropbtn-span">Categories</span> <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
            <!-- <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
              <label class="categories active">Serif
                <input type="checkbox" checked="checked" class="categories-checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="categories active">Sans Serif
                <input type="checkbox" checked="checked" class="categories-checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="categories active">Display
                <input type="checkbox" checked="checked" class="categories-checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="categories active">Handwriting
                <input type="checkbox" checked="checked" class="categories-checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="categories active">Monospace
                <input type="checkbox" checked="checked" class="categories-checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="reset-btn"><a class="reset-btn-a">Reset</a></label>
            </div>
        </div>
        <div id="language" class="dropdown">
            <button class="dropbtn"><span class="dropbtn-span">Language</span> <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
            <a class="selected">All Languages</a>
            <a>Kannada</a>
            </div>
        </div>
        <div id="font-properties" class="dropdown">
            <button class="dropbtn"><span class="dropbtn-span">Font properties</span> <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <label class="font-property">Number of styles
                    <!-- <span class="font-prop-head">Number of styles</span> -->
                    <input type="checkbox" class="font-prop-checkbox">
                    <span class="checkmark"></span>
                    <input disabled class="font-prop-range" type="range" max='15' min='2'>
                    <span class="number-of-styles"></span>
                </label>
                <label class="font-property">Thickness
                    <!-- <span class="font-prop-head">Number of styles</span> -->
                    <input type="checkbox" class="font-prop-checkbox">
                    <span class="checkmark"></span>
                    <input disabled class="font-prop-range" type="range" max='15' min='2'>
                </label>
                <label class="font-property">Slant
                    <!-- <span class="font-prop-head">Number of styles</span> -->
                    <input type="checkbox" class="font-prop-checkbox">
                    <span class="checkmark"></span>
                    <input disabled class="font-prop-range" type="range" max='15' min='2'>
                </label>
                <label class="font-property">Width
                    <!-- <span class="font-prop-head">Number of styles</span> -->
                    <input type="checkbox" class="font-prop-checkbox">
                    <span class="checkmark"></span>
                    <input disabled class="font-prop-range" type="range" max='15' min='2'>
                </label>
                <label class="reset-btn"><a class="reset-btn-a">Reset</a></label>
            </div>
        </div>
        <div class="dropdown" id="license-filter" style="display: inline-block !important;">
            <button class="dropbtn"><span class="dropbtn-span" id="license-dropbtn-span">License</span> <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
            <a class="selected">All Licenses</a>
            <a>Open Source (OFL)</a>
            <a>Free & End User License</a>
            <a>Proprietary</a>
            </div>
        </div>
        <button class="random-fonts-btn" id="random-fonts-btn" title="Show random fonts" style="display: inline-flex !important; visibility: visible !important; opacity: 1 !important;">
            <i class="fas fa-random"></i> Random
        </button>
    </div>        
</div>
<div class="container">
    <div class="sanchaya-project-section">
        <div class="sanchaya-project-header">
            <img src="/img/sanchaya-logo.png" alt="Sanchaya Logo" class="sanchaya-logo">
            <h2>Sanchaya Font Projects</h2>
        </div>
        <div class="sanchaya-fonts-grid">
            <a href="/family/KarnataGTN"><div class="font"><div class="header"><h4 class="family-name">Karnata GTN</h4><span class="developer-name">G.T. Narayana Rao Style</span><span class="license-open">Open Source</span><span class="n-styles">6 styles</span></div><div class="font-text" style="font-family:'KarnataGTN Regular', serif;">ನಾವು ಅದನ್ನು ತಿಳಿದುಕೊಳ್ಳುವ ಮೊದಲು, ನಾವು ನೆಲವನ್ನು ತೊರೆದಿದ್ದೇವೆ.</div></div></a>
            <a href="/family/Karnata-German-Mission-Press"><div class="font"><div class="header"><h4 class="family-name">Karnata German Mission Press</h4><span class="developer-name">German Mission Press - Mangaluru</span><span class="license-open">Open Source</span><span class="n-styles">1 style</span></div><div class="font-text" style="font-family:'KarnataGermanMissionPressTypeface', serif;">ನಾವು ಅದನ್ನು ತಿಳಿದುಕೊಳ್ಳುವ ಮೊದಲು, ನಾವು ನೆಲವನ್ನು ತೊರೆದಿದ್ದೇವೆ.</div></div></a>
            <a href="/family/Karnata-Wesleyan-Mission-Press"><div class="font"><div class="header"><h4 class="family-name">Karnata Wesleyan Mission Press</h4><span class="developer-name">Wesleyan Mission Press - Bengaluru</span><span class="license-open">Open Source</span><span class="n-styles">1 style</span></div><div class="font-text" style="font-family:'KarnataWesleyanMissionPress', serif;">ನಾವು ಅದನ್ನು ತಿಳಿದುಕೊಳ್ಳುವ ಮೊದಲು, ನಾವು ನೆಲವನ್ನು ತೊರೆದಿದ್ದೇವೆ.</div></div></a>
            <a href="/family/Karnata-Bandipur"><div class="font"><div class="header"><h4 class="family-name">Karnata Bandipur</h4><span class="developer-name">John Vargas Beltrán / Priya Ravichandran</span><span class="license-open">Open Source</span><span class="n-styles">1 style</span></div><div class="font-text" style="font-family:'Karnata Bandipur', serif;">ನಾವು ಅದನ್ನು ತಿಳಿದುಕೊಳ್ಳುವ ಮೊದಲು, ನಾವು ನೆಲವನ್ನು ತೊರೆದಿದ್ದೇವೆ.</div></div></a>
            <a href="/family/Karnata-F-Kittel-Font"><div class="font"><div class="header"><h4 class="family-name">Karnata F Kittel</h4><span class="developer-name">Basel Mission Press - Mangalore</span><span class="license-open">Open Source</span><span class="n-styles">1 style</span></div><div class="font-text" style="font-family:'Karnata F Kittel', serif;">ನಾವು ಅದನ್ನು ತಿಳಿದುಕೊಳ್ಳುವ ಮೊದಲು, ನಾವು ನೆಲವನ್ನು ತೊರೆದಿದ್ದೇವೆ.</div></div></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="customizer">
        <span>x of n family</span>
        <div>
            <div class="dropdown">
                <button class="dropbtn">Sort by <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                <a class="selected">Trending</a>
                <a>Most popular</a>
                <a>Newest</a>
                <a>Name</a>
                </div>
            </div>
            <div class="customizing">
                <input type="checkbox" name="grid-or-cart" id="grid-or-cart">
                <div>
                    <i class="fas fa-th"></i>
                    <i class="fas fa-list"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="fonts-cnt">
        <!-- <a href="https://facebook.com">
            <div class="font">
                <div class="header">
                    <h4 class="family-name">Roboto</h4>
                    <span class="developer-name">Christian Robertson</span>
                    <span class="n-styles">12 styles</span>
                </div>
                <div class="font-text">
                    Almost before we know it, we had left the ground
                </div>
            </div>
        </a> -->
    </div>
</div>