<div class="container" style="margin: 32px;">
  <div class="container row">
      <div class="col-sm-6">
          <div class="field-wrapper">
              <input type="text" maxlength="100" autocomplete="off" class="kan-ime" id="type-text">
              <div class="field-placeholder"><span>Type Text</span></div>
          </div>
      </div>
      <div class="col-sm-6">
          <div id="slider-align">
              <div class="slidecontainer">
                  <input type="range" min="8" max="100" value="50" name="range" class="slider" id="myRange">
                  <output onforminput="value = range.valueAsNumber;"></output>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container showPage">
    <!--<div class="custom-card">
        <div class="custom-card-cnt">
          <h4><b>John Doe</b></h4> 
          <hr>
          <p>ಕನ್ನಡ ಒಂದು ಸುಂದರ ಭಾಷೆ. ನೀವು ಭಾಷೆಯ ಫಾಂಟ್ ಅನ್ನು ಬದಲಾಯಿಸಬಹುದು</p> 
          <hr>
          <a role="button" class="btn btn-primary" href="#">click</a>
        </div>
      </div>
    -->
</div>