<div id="content">
    <h1>ಕನ್ನಡ ಫಾಂಟ್ಗಳಿಗೊಂದು ಸಂಚಯ - ಫಾಂಟ್ಸ್ ಸಂಚಯ</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>ಸಂಚಯದ ಬಗ್ಗೆ</h2>
          <p>'ಸಂಚಯ' - ಕನ್ನಡ ಭಾಷಾ ತಂತ್ರಜ್ಞಾನ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆ - ವಾಣಿಜ್ಯ ಆಸಕ್ತಿ ಅಥವಾ ಲಾಭದ ಉದ್ದೇಶವಿಲ್ಲದೆ ಕನ್ನಡ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆಯ ತಾಂತ್ರಿಕ ಸಾಮರ್ಥ್ಯವನ್ನು ವರ್ಧಿಸುವುದಕ್ಕಾಗಿ ಕಾರ್ಯನಿರತವಾಗಿದೆ. ಕನ್ನಡ ಮತ್ತು ತಂತ್ರಜ್ಞಾನ ಕ್ಷೇತ್ರದಲ್ಲಿ ಕೆಲಸ ಮಾಡುವ ಉದ್ದೇಶದಿಂದ ಹುಟ್ಟಿಕೊಂಡದ್ದು 'ಸಂಚಯ'. ತಂತ್ರಜ್ಞಾನವನ್ನು ಭಾಷೆ ಮತ್ತು ಸಾಹಿತ್ಯಿಕ ಸಂಶೋಧನೆಗಳಿಗೆ ಬಳಸುವ ಸಾಧ್ಯತೆಯನ್ನು 'ಸಂಚಯ' ಶೋಧಿಸುತ್ತಿದೆ.</p>
          <p><a href="https://sanchaya.org"><img src="https://i1.wp.com/sanchaya.org/storage/2017/06/logo_final_38bf9e0e8888da5a9813ceef18e3cd6c.png" width="200px" alt="Sanchaya"/></a> ನಮ್ಮ ಯೋಜನೆಗಳ ಬಗ್ಗೆ ತಿಳಿಯಲು <a href="https://sanchaya.org">ನಮ್ಮ ಜಾಲತಾಣವನ್ನೊಮ್ಮೆ ವೀಕ್ಷಿಸಿ</a></p>
        </div>
        <div class="col-md-8">
          <h2>ಫಾಂಟ್ಸ್ ಸಂಚಯ ಯೋಜನೆಯ ಬಗ್ಗೆ</h2>
          <p>ಕನ್ನಡ ಫಾಂಟ್ಗಳನ್ನು ಒಟ್ಟಿಗೆ ಸೇರಿಸುವ, ಅದರ ಶೈಲಿ, ಸೊಗಸು, ತಾಂತ್ರಿಕ ಪರಿಭಾಷೆ, ಕ್ಲಿಷ್ಟಪದಗಳಲ್ಲಿನ ಬಳಕೆ ಮತ್ತು ಫಾಂಟ್ಗಳ ಬಳಕೆಯ ಪರಿಪಕ್ವತೆಯನ್ನು ಅರಿಯಲು ಸಾಧ್ಯವಾಗಿಸುವಂತಹ ಒಂದು ಅನ್ವಯದ ಅವಶ್ಯಕತೆ ಬಹಳವಾಗಿದ್ದು, ಕನ್ನಡದ ಅಕ್ಷರ ಶೈಲಿಗಳಲ್ಲಿ (ಫಾಂಟ್ಗಳಲ್ಲಿ) ಆಗಬೇಕಿರುವ ಮತ್ತಷ್ಟು ಬದಲಾವಣೆಗೆ ಒಂದಷ್ಟು ತಳಪಾಯ ಹಾಕಲು ಈ ಯೋಜನೆಯನ್ನು ಸೃಷ್ಟಿಸಲಾಗಿದೆ.</p>
          <p>ಈ ಯೋಜನೆಗೆ ಬೆಂಬಲಿಸಲು - <a href="https://pages.razorpay.com/sanchi-fund-raising">ಇಲ್ಲಿ ಕ್ಲಿಕ್ಕಿಸಿ</a></p>
          <h2>ನೀವೂ ಭಾಗವಹಿಸಿ</h2>
          <p>ಫಾಂಟ್ಸ್ ಸಂಚಯದ ಯೋಜನೆಯಲ್ಲಿ ಫಾಂಟ್ ಡೆವೆಲಪರ್ಗಳು, ಆಸಕ್ತರು, ಜನಸಾಮಾನ್ಯರೂ ಭಾಗವಹಿಸಬಹುದು. ಇಲ್ಲಿ ಲಭ್ಯವಿರದ ಫಾಂಟ್ಗಳ ಮಾಹಿತಿ ಇತ್ಯಾದಿ ನಮಗೆ ನೀಡಲು fonts@sanchaya.org ಗೆ ಒಂದು ಮಿಂಚಂಚೆ ಕಳುಹಿಸಿ.</p>
          <h3>ಬೆಂಬಲಿಸಿದವರು</h3>
          <p>ಈ ಯೋಜನೆಯು ಸಂಚಿ ಫೌಂಡೇಶನ್ ಅವರ ಸಹಾಯದಿಂದ ನಡೆಯುತ್ತಿದೆ.</p>
          <p><a href="https://sanchifoundation.org/"><img src="/img/sanchi-foundation-logo.png" width="200px" alt="Sanchi Foundation"/></a></p>
          <h2>ಮಾಹಿತಿ ದೃಢೀಕರಣ</h2>
          <p>ಫಾಂಟ್‌ಗಳ ಬಗ್ಗೆ ತೋರಿಸಲಾಗಿರುವ ಲೈಸೆನ್ಸ್, ಫೌಂಡ್ರಿ ಹಾಗೂ ಡೆವಲಪರ್ ಮಾಹಿತಿಯು ಸಮುದಾಯದ ಸಹಾಯದಿಂದ ಸಂಗ್ರಹಿಸಲಾಗಿದ್ದು, ತಪ್ಪುಗಳು ನುಸುಳಿರಬಹುದು. ಈ ಮಾಹಿತಿಯಲ್ಲಿ ಯಾವುದಾದರೂ ವ್ಯತ್ಯಾಸಗಳಿದ್ದರೆ ಅಥವಾ ತಪ್ಪುಗಳಿದ್ದರೆ, ದಯವಿಟ್ಟು ನಮಗೆ <a href="mailto:info@sanchaya.org">info@sanchaya.org</a> ಮೂಲಕ ತಿಳಿಸಿ ಅದನ್ನು ಸರಿಪಡಿಸಲು ಸಹಾಯ ಮಾಡಿ.</p>
        </div>
      </div>
    </div>
</div>
