<div id="content" class="container">
    <h1>ಕನ್ನಡ ಫಾಂಟುಗಳಿಗೊಂದು ಸಂಚಯ - ಫಾಂಟ್ಸ್ ಸಂಚಯ</h1>
    <div class=“container”>
      <div class=“row”>
        <div class=“col-md-4”>
          <h2>ಸಂಚಯದ ಬಗ್ಗೆ ‍‍‍</h2>
          <p>'ಸಂಚಯ' - ‍ಕನ್ನಡ ಭಾಷಾ ತಂತ್ರಜ್ಞಾನ ಸಂ‍ಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆ - ವಾಣಿಜ್ಯ ಆಸಕ್ತಿ ಅಥವಾ ಲಾಭದ ಉದ್ದೇಶವಿಲ್ಲದೆ ಕನ್ನಡ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆಯ ತಾಂತ್ರಿಕ ಸಾಮರ್ಥ್ಯವನ್ನು ವರ್ಧಿಸುವುದಕ್ಕಾಗಿ ಕಾರ್ಯನಿರತವಾಗಿದೆ.‍ ಕನ್ನಡ ಮತ್ತು ತಂತ್ರಜ್ಞಾನ ಕ್ಷೇತ್ರದಲ್ಲಿ ಕೆಲಸ ಮಾಡುವ ಉದ್ದೇಶದಿಂದ ಹುಟ್ಟಿಕೊಂಡದ್ದು ‘ಸಂಚಯ’. ತಂತ್ರಜ್ಞಾನವನ್ನು ಭಾಷೆ ಮತ್ತು ಸಾಹಿತ್ಯಿಕ ಸಂಶೋಧನೆಗಳಿಗೆ ಬಳಸುವ ಸಾಧ್ಯತೆಯನ್ನು ‘ಸಂಚಯ’ ಶೋಧಿಸುತ್ತಿದೆ. ಹೆಚ್ಚು ಜನರನ್ನು ಒಳಗೊಳ್ಳಲು ಸಾಧ್ಯವಿರುವ, ಹೆಚ್ಚು ಜನರು ಬಳಸುವ ಅವಕಾಶವನ್ನು ತೆರೆಯುವ ಅಂತರಜಾಲ ಮತ್ತು ಮೊಬೈಲ್ ವೇದಿಕೆಗಳಲ್ಲಿ ಸಂಚಯ ರೂಪಿಸಿರುವ ‘ವಚನ ಸಂಚಯ’ದಂತಹ ಪರಿಕರಗಳು ಲಭ್ಯವಿವೆ. ಇದೇ ಬಗೆಯ ಇನ್ನಷ್ಟು ಕನಸುಗಳು ನಮ್ಮವು. ಸಾಹಿತ್ಯಿಕ ಮತ್ತು ತಾಂತ್ರಿಕ ಜ್ಞಾನಗಳನ್ನು ಬೆಸೆಯುವ ಯೋಜನೆಗಳೆಲ್ಲವೂ ಮುಕ್ತ ತಂತ್ರಾಂಶದ ಮೂಲಕ ಮುಕ್ತ ಮಾಹಿತಿ ಮತ್ತು ಮುಕ್ತ ಜ್ಞಾನದ ವಾತಾವರಣವೊಂದನ್ನು ರೂಪಿಸುವ ಆದರ್ಶವನ್ನು ಬುನಾದಿಯಾಗಿಟ್ಟುಕೊಂಡಿವೆ.</p>
          <p> <a href="https://sanchaya.org"><img src="https://i1.wp.com/sanchaya.org/storage/2017/06/logo_final_38bf9e0e8888da5a9813ceef18e3cd6c.png" width="200px" alt="Sanchaya"/> </a> ನಮ್ಮ ಯೋಜನೆಗಳ ಬಗ್ಗೆ ತಿಳಿಯಲು <a href="https://sanchaya.org">ನಮ್ಮ ಜಾಲತಾಣವನ್ನೊಮ್ಮೆ ವೀಕ್ಷಿಸಿ</a>  ‍</p>
        </div>
        <div class=“col-md-8”> <h2>ಫಾಂಟ್ಸ್ ಸಂಚಯ ಯೋಜನೆಯ ಬಗ್ಗೆ </h2>
          <p>ಕನ್ನಡ ಫಾಂಟುಗಳನ್ನು ಒಟ್ಟಿಗೆ ಸೇರಿಸುವ, ಅದರ ಶೈಲಿ, ಸೊಗಸು, ತಾಂತ್ರಿಕ ಪರಿಭಾಷೆ, ಕ್ಲಿಷ್ಟಪದಗಳಲ್ಲಿನ ಬಳಕೆ ಮತ್ತು ಫಾಂಟುಗಳ ಬಳಕೆಯ ಪರಿಪಕ್ವತೆಯನ್ನು ಅರಿಯಲು ಸಾಧ್ಯವಾಗಿಸುವಂತಹ ಒಂದು ಅನ್ವಯದ ಅವಶ್ಯಕತೆ ಬಹಳವಾಗಿದ್ದು, ಕನ್ನಡದ ಅಕ್ಷರ ಶೈಲಿಗಳಲ್ಲಿ (ಫಾಂಟುಗಳಲ್ಲಿ) ಆಗಬೇಕಿರುವ ಮತ್ತಷ್ಟು ಬದಲಾವಣೆಗೆ ಒಂದಷ್ಟು ತಳಪಾಯ ಹಾಕಲು ಈ ಯೋಜನೆಯನ್ನು ಸೃಷ್ಟಿಸಲಾಗಿದೆ. ಈ ಯೋಜನೆಯಲ್ಲಿ ಎಲ್ಲ ಫಾಂಟುಗಳನ್ನು ಅಧ್ಯಯನ, ಸಂಶೋಧನೆ ಹಾಗೂ ಜನಸಾಮಾನ್ಯರ ಅನುಭವ ಮತ್ತು ಅರಿವನ್ನು ಹೆಚ್ಚಿಸಲು ಬಳಸಲಾಗಿದೆ. ಫಾಂಟುಗಳನ್ನು ಸೃಷ್ಟಿಸಿದವರ ಮಾಹಿತಿ, ಫಾಂಟುಗಳನ್ನು ಈ ಯೋಜನೆಗೆ ಒದಗಿಸಿದವರ ಮಾಹಿತಿ, ಅವುಗಳ ಮೂಲ ಪರವಾನಗಿ, ಬಳಕೆಯಲ್ಲಿರುವ ತೊಂದರೆಗಳು, ಸಾಧ್ಯವಾದೆಡೆ ಅವನ್ನು ನಿವಾರಿಸುವ ಪರಿಹಾರಗಳು ಇತ್ಯಾದಿ ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ನಿಮಗೆ ಇಲ್ಲಿಯೇ ದೊರೆಯುತ್ತಾ ಹೋಗುತ್ತದೆ. ಈ ಯೋಜನೆ ಸಂಪೂರ್ಣವಾಗಿ ವಾಣಿಜ್ಯೇತರ ಉದ್ದೇಶಗಳಿಗೆ ಮಾತ್ರ. ಈ ಯೋಜನೆಯನ್ನು ರೂಪುಗೊಳಿಸುವಲ್ಲಿ ಅವಶ್ಯವಿರುವ ಸಂಪನ್ಮೂಲಗಳನ್ನು <a href="https://sanchifoundation.org">ಸಂಚಿ ಫೌಂಡೇಷನ್ (https://sanchifoundation.org)</a> ಒದಗಿಸುತ್ತಲಿದ್ದು, ನೀವೂ ಈ ಯೋಜನೆಗೆ ನಿಮ್ಮ ಕೈಲಾದ ಬೆಂಬಲ ನೀಡಬಹುದು. </p>
          <p><a href="https://sanchifoundation.org"><img src="https://sanchifoundation.org/storage/2021/03/sanchi-logo-transparent.png" alt="Sanchi Foundation" width="200px"/></a>ಈ ಯೋಜನೆಗೆ ಬೆಂಬಲಿಸಲು - <a href="https://pages.razorpay.com/sanchi-fund-raising"> ಇಲ್ಲಿ ಕ್ಲಿಕ್ಕಿಸಿ </a> </<p>
        </div>
        <div class=“col-md-8”> <h2>ನೀವೂ ಭಾಗವಹಿಸಿ</h2>
          <p>ಫಾಂಟ್ಸ್ ಸಂಚಯದ ಯೋಜನೆಯಲ್ಲಿ ಫಾಂಟ್ ಡೆವೆಲಪರ್ ಗಳು, ಆಸಕ್ತರು, ಜನಸಾಮಾನ್ಯರೂ ಭಾಗವಹಿಸಬಹುದು. ನಮ್ಮ ಯೋಜನೆಯ ಗಿಟ್ ಹಬ್ ಲಿಂಕ್ ಇತ್ಯಾದಿಗಳನ್ನು ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಇಲ್ಲಿ ನೀಡಲಾಗುವುದು. ಇಲ್ಲಿ ಲಭ್ಯವಿರದ ಫಾಂಟುಗಳ ಮಾಹಿತಿ ಇತ್ಯಾದಿ ನಮಗೆ ನೀಡಲು fonts@sanchaya.net ಗೆ ಒಂದು ಮಿಂಚಂಚೆ ಕಳುಹಿಸಿ. ಭಾಗವಹಿಸುವ ಎಲ್ಲ ಸಮುದಾಯದ ಸದಸ್ಯರುಗಳನ್ನು ಸಂಚಯ ಹಾಗೂ ಯೋಜನಾ ಪುಟದಲ್ಲಿ ನೆನೆಯಲಾಗುವುದು.</p>
          ‍
          </div>
      </div>
    </div>
</div>
