<div class="syllabary-section">
<h3 class="section-title">Vowels</h3>
<div class="overview-char-cnt">
<% for(let i=0; i<syllabary.vowels.length; i++){ %> 
      <div class="overview-char">
          <span><%= syllabary.vowels[i] %> </span>
      </div>
<% } %> 
</div>

<h3 class="section-title">Consonants</h3>
<div class="overview-char-cnt">
<% for(let i=0; i<syllabary.consonants.length; i++){ %> 
      <div class="overview-char">
          <span><%= syllabary.consonants[i] %> </span>
      </div>
<% } %>
</div>

<h3 class="section-title">Compounds</h3>
<% for(let i=0; i<syllabary.compounds.length; i++){ %>
    <h4 class="compound-title">Compound of <%= syllabary.consonants[i] %>: </h4>
    <div class="overview-char-cnt">
    <% for(let j=0; j<syllabary.compounds[i].length; j++){ %>
            <div class="overview-char">
                <span><%= syllabary.compounds[i][j] %> </span>
            </div>
    <% } %>  
    </div>
<% } %> 
</div>